<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link href="~/admin-template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/admin-template/css/sb-admin-2.min.css" rel="stylesheet">
    @RenderSection("css", false)
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Admin Panel</div>
                </a>
            </li>
            <li>
                <hr class="sidebar-divider">
            </li>
            <li>
                <div class="sidebar-heading">Veritabanı</div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Veritabanı Tabloları</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-action="List" asp-controller="Category"><i class="fas fa-fw fa-table"></i> Kategoriler</a>
                        <a class="collapse-item" asp-action="List" asp-controller="Department"><i class="fas fa-fw fa-table"></i> Bölümler</a>
                        <a class="collapse-item" asp-action="List" asp-controller="Lecture"><i class="fas fa-fw fa-table"></i> Dersler</a>
                        <a class="collapse-item" asp-action="List" asp-controller="Question"><i class="fas fa-fw fa-table"></i> Sorular</a>
                        <a class="collapse-item" asp-action="List" asp-controller="Option"><i class="fas fa-fw fa-table"></i> Seçenekler</a>
                        <a class="collapse-item" asp-action="List" asp-controller="User"><i class="fas fa-fw fa-table"></i> Kullanıcılar</a>
                    </div>
                </div>
            </li>
            <li>
                <hr class="sidebar-divider d-none d-md-block">
            </li>
            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>                    
                    <ul class="navbar-nav ml-auto">                                            
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="mr-2 text-gray-600">Admin</span>
                                <img class="img-profile rounded-circle" src="/admin-template/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <a class="dropdown-item text-danger" asp-action="SignOut" asp-controller="Account">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-danger"></i>Çıkış Yap
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid p-3">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Bulutay Saraç 2023</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/admin-template/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin-template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin-template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/admin-template/js/sb-admin-2.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>